.h1{
    text-align: center;
    color: coral;
    margin:35px ;
}
.link{
    text-align: center;
    border: 2px solid;
    

}
.lazagna{
    color: green;
    font-size: large;
}
.but{
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 35px;
}
