.div1{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    transition: 2s;

}
.div1:hover{
    transform: skew(10deg, 5deg)
}


.div2{
    height: 200px;
    width: 200px;
    animation-name: Myanim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes Myanim{
  0%   {transform:scale(0.5);background-color: red;}
  100% {transform:scale(1.5);background-color: blue;}
}