.div1{
    height: 300px;
    width: 300px;
    background-color: lightgrey;
    position: relative;
}
.div2{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: black;
    width: 30px;
    height: 30px;
}