.div1{
    height: 100px;
    width: 100px;
    background-color: aqua;
    position: static;
}
.div2{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: static;
}
.div3{
    height: 100px;
    width: 100px;
    background-color: green;
    position: static;
}
