.example1{
    padding: 30px;
    border: 3px solid black;
    margin: 10px;
    background-color: green;
}
.example2{
    padding: 10px;
    border: 3px solid tan;
    margin: 30px;
    background-color: aqua;
}
.example3{
    padding: 70px;
    border: 3px solid orangered;
    margin: 50px;
    background-color: blueviolet;
}