.head{
    text-align: center;
    background-color: chocolate;
    padding: 25px;
    border: 4px solid black;
    margin: 50px;
    color: aqua;
}
.body{
    background-color: darkgoldenrod;
    color: brown;
    padding: 10px;
    border: 2px solid orange;
    margin: 20px;
}