/* 4) შექმენით გრიდი 2 სვეტით, 4 რიგით.
პირველი ყუთი იყოს მაღალი, მეორე ნორმალური.
გამოიყენეთ align-items რომ ყუთები ვერტიკალურად სწორად განლაგდეს. */

.container{
    background-color: lightcoral;
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-template-rows: repeat(4,100px);
    gap: 5px;
    justify-content: center;
}
.div1{
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    
}
.big{
    grid-row: 1/4;
}
