.header{
    height: 100px;
    width: 100%;
    background-color: rgba(0, 102, 255, 0.677);
    display: flex;

}
.p{
    height: 100px;
    width: 120px;
    font-size: 30px;
    justify-content: center;
    display: flex;
}
.but{
    height: 100px;
    width: 160px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    background-color:rgb(126, 126, 126) ;
}
.inp{
    font-size: 30px;
    width: 100vh;
}