.cont{
    background-color: blue;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.div1{
    width: 100px;
    height: 100px;
    background-color: aqua;
}
.cont1{
    background-color: blue;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}