.div1{
    height: 100px;
    width: 100%;
    display: flex;
    background-color: aquamarine;
    justify-content: center;
}
.but{
    height: 100px;
    width: 160px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    background-color:rgb(126, 126, 126) ;
}