.div1{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: static;
}
.div2{
    height: 100px;
    width: 100px;
    background-color: aqua;
    position: relative;
    top: 20px;
    left: 30px;
}
.div3{
    height: 100px;
    width: 100px;
    background-color: palegreen ;
    position: static;
}