.div1{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: static;
}
.div2{
    height: 100px;
    width: 100px;
    background-color: aqua;
    position: absolute;
}
.div3{
    height: 200px;
    width: 100px;
    background-color: palegreen ;
    position: static;
}