.h1{
    color: aqua;
    background-color: black;
    padding: 15px;
    border: 2px solid greenyellow;
    margin: 25px;
}
.p1{
    color: chocolate;
    background-color: green;
    padding: 30px;
    border: 4px solid blue;
    margin: 15px;
}