.div{
    height: 500px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: blue;
}
.div1{
    width: 120px;
    height: 120px;
    background-color: black;
}