.div{
    height: 700px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: blue;
}
.div1{
    width: 120px;
    height: 120px;
    background-color: black;
}