body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:  hsl(270, 20%, 96%);
}
.cont{
    width: 90%;
    height: 80%;
    box-shadow: 10px 10px 25px  hsl(206, 6%, 79%);
    overflow: hidden;
    position: relative;
}
.purp-left{
    height: 80%;
    width: 32%;
    position: absolute;
    transform: translateX(-15%);
    background-image: linear-gradient(to bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
}
.phone{
    width: 15%;
    height: 75%;
    border-radius: 20px;
    transform: translate(158%, 10%);
    background-color:  hsl(270, 20%, 96%);
    box-shadow: 10px 10px 20px hsl(206, 6%, 79%); 
    display: flex;
    flex-direction: column;
} 
.white-middle{
    width: 100px;
    height: 20px;
    background-color: hsl(270, 20%, 96%);
    /* margin: -6px; */
    border-bottom-left-radius:12px;
    border-bottom-right-radius:12px;
    transform: translateX(50%);
    z-index: 2;
}
.grad-heading{
    width: 90%;
    height: 15%;
    transform: translate(5%, -25%);
    border-top-left-radius:16px;
    border-top-right-radius:16px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    background-image: linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    z-index: 1;
    display: flex;
    margin-bottom: 0px;
}
.image-tag{
    height: 20px;
    width: 20px;
    border: 2px white solid ;
    border-radius: 50%;
    transform: translate(15px, 20px);
}
.image{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.pCont{
    height: 30px;
    /* background-color: blue; */
    transform: translate(14px,18px);
}
.p1{
    height: 10px;
    color:  hsl(276, 100%, 93%);
    margin: 0px;
    display: flex;    
    justify-content: center;
}
.p2{
    height: 24px;
    left: 100px;
    display: flex;
    align-items: center;
    color:  hsl(276, 100%, 93%);
    margin: 0px;
    
}
.text-chat{
    background-color: rgb(229, 227, 227);
    margin: 10px;
    margin-top: 0px;
    transform: translateY(-16px);
}
.text1{
    background-color: rgb(207, 207, 207);
    border-radius: 8px;
    width: calc(100% - 30%);
    margin-left: 6px;
    font-size: 10px;
    padding: 4px;
}
.text2{
    background-color: rgb(207, 207, 207);
    border-radius: 8px;
    width: calc(100% - 30%);
    margin-left: 6px;
    font-size: 10px;
    padding: 4px;
}
.image-dog-div{
    margin-left: 26%;
}
.image-dog{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin: 2px;
}
.text3{
    background-color: rgb(235, 235, 235);
    border-radius: 8px;
    width: calc(100% - 30%);
    margin-left: 23%;
    padding: 4px;
    font-size: 10px;
    box-shadow: 2px 2px 6px rgb(172, 172, 172);
}
.text4{
    background-color: rgb(235, 235, 235);
    border-radius: 8px;
    width: calc(100% - 60%);
    margin-left: 52%;
    padding: 4px;
    font-size: 10px;
    box-shadow: 2px 2px 6px rgb(172, 172, 172);
}
.text5{
    background-color: rgb(207, 207, 207);
    border-radius: 8px;
    width: calc(100% - 30%);
    margin-left: 6px;
    font-size: 10px;
    padding: 4px;
}