.div1{
    width: 100px;
    height: 100px;
    background-color: blue;
    transform: translateX(200px);
}
.div2{
    width: 100px;
    height: 100px;
    background-color: red;
    transform: rotate(50deg);
}
.div3{
    width: 100px;
    height: 100px;
    background-color: green;
    transform: scale(1.5);

}